body {
	/* Positioning */
	padding-top: 5%;
	padding-right: 10%;
	padding-left: 10%;
	min-width: 300px;

	/* Typography */
	font: normal 13px "Open Sans", sans-serif;
	font-size: 130%;
	font-weight: lighter;
	color: #F67D75;
	text-align: center;

	/* Visual */
	background-color: #F3DCD4;
}

header {
	font-size: 200%;
	font-weight: lighter;
}
.mainContent {
	margin-right: 5%;
	margin-left: 5%;
	padding-top: 1.5%;
	padding-bottom: 2%;
	background-color: #B0E5DB;
	border-style: outset;
}

ul,
li {
	text-decoration: none;
	list-style: none;
	font-size: 95%;
}

button {
	-webkit-appearance: none;
	background-size: 150%;
	background-color: #EC5B68;
	color: #D8E4DA;
	font-size: 103%;

}
